.tit{
    font-weight: bolder;
}

.fotos{
    margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  text-align: center;
}

.disabledButton{
  border-color:rgb(80, 85, 87);
  background-color:rgb(80, 85, 87);
  color:lightgrey;

}

.disabledButton:hover{
  border-color:rgb(80, 85, 87);
  background-color:rgb(80, 85, 87);
  color:lightgrey;

}