.pic{

	height: 400px;
    background-size: cover;
    max-width: 80%;
}

.butArrow{
    font-weight:bolder;
    font-size: x-large;
    padding:3px;
    color: linen;
    background-color: rgb(54, 52, 52);
}